* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html,
body {
  width: 100%;
  font-family: Montserrat, sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #f2f2f1;
}

#home {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background-image: url("/images/banner.jpg");
}

#home .hero {
  width: 900px;
  max-width: 100%;
  text-align: center;
}

h1 {
  font-size: 55px;
  text-transform: uppercase;
  position: relative;
  color: white;
  text-align: center;
  margin-bottom: 65px;
  font-weight: 700;
}

h1 span {
  animation: fadeIn 0.4s ease-in 0.8s both;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  left: 0;
}

h1::before {
  animation: fadeInRight 1s ease-in-out both;
  top: -25px;
}

h1::after {
  bottom: -25px;
  animation: fadeInLeft 1s ease-in-out both;
}

#home .hero a {
  animation: fadeIn 1.2s 0.4s ease-in-out both;
}

nav {
  height: 10vh;
  padding: 0 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252e30;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo-image {
  margin-right: 10px;
}

nav .logo-text {
  text-transform: uppercase;
  font-size: 25px;
  color: white;
}

nav .logo-text span {
  color: #2acc71;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 65%;
  min-width: 700px;
}

.nav-link a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: 400;
  transition: 0.2s ease-in-out;
}

.nav-link a.active {
  color: #2acc71;
}

.nav-link a:hover {
  color: #2acc71;
}

#vgh {
  background-color: #f2f4f2;
}

#vgh .grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 25px;
  grid-row-gap: 45px;
}

#about-me {
  display: flex;
  background-color: #ececec;
  align-items: center;
  min-height: 95vh;
  padding: 0 0;
}

#about-me .img {
  height: 95vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70%;
}

@media all and (max-width: 1000px) {
  #about-me .img {
    display: none;
  }
  #about-me {
    padding: 45px 0;
  }
}

/* #about-me .content {
  padding: 0 60px;
} */

#about-me .grid {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));
  grid-column-gap: 20px;
  grid-row-gap: 35px;
  justify-content: space-around;
}

#about-me .grid-item {
  display: flex;
}

#about-me .grid-item i {
  font-size: 30px;
  color: #2acc71;
  margin-right: 15px;
  transform: translateY(8px);
  max-width: 30px;
}

#about-me .grid-item span {
  color: #919191;
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
}

#skills {
  background-color: #fff;
}

#skills .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 35px;
  grid-column-gap: 20px;
}

#skills p {
  margin-bottom: 20px;
}

#skills .skill {
  margin-bottom: 25px;
}

#skills .bar {
  width: 100%;
  height: 35px;
  background-color: #ececec;
  border-radius: 3px;
  overflow: hidden;
}

#skills .progress {
  height: 100%;
  background-color: #2acc71;
  position: relative;
}

#skills .value {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 17px;
}

#resume {
  text-align: center;
}

#resume p {
  margin-bottom: 20px;
}

#life {
  background-color: #fff;
  clip-path: polygon(
    0 0,
    calc(50% - 20px) 0,
    50% 20px,
    calc(50% + 20px) 0,
    100% 0,
    100% 100%,
    0 100%
  );
}

#life .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 25px;
  grid-row-gap: 30px;
}

#life .right p {
  margin-bottom: 18px;
}

#life .right span {
  color: white;
  background-color: #2acc71;
  padding: 10px 10px;
  font-size: 16px;
}

#life .item {
  margin-bottom: 65px;
}

#testimonials {
  text-align: center;
}

#testimonials p {
  margin-bottom: 30px;
}

#testimonials h3 {
  margin-bottom: 25px;
}

#testimonials .carousel-wrapper {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}

#testimonials .carousel {
  transform-style: preserve-3d;
}

#testimonials .carousel-buttons {
  width: 60px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

#testimonials [class^="carousel-button-"] {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 2px solid #2acc71;
  cursor: pointer;
  transition: 0.15s;
}

#testimonials [class^="carousel-button-"].active,
#testimonials [class^="carousel-button-"]:hover {
  background-color: #2acc71;
}

#testimonials .carousel-item {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  z-index: 100;
  transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
}

#testimonials .carousel-item.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

#portfolio {
  background-color: #fff;
  text-align: center;
}

#portfolio .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin-top: 70px;
}

#portfolio .filter {
  background-color: #191f21;
  color: white;
  padding-top: 35px;
  padding-left: 30px;
  text-align: left;
}

#portfolio .filter h4 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#portfolio .filter ul {
  list-style: none;
}

#portfolio .filter li {
  color: #919191;
  transition: 0.15s;
  margin-bottom: 10px;
}

#portfolio .filter li span {
  cursor: pointer;
}

#portfolio .filter li span:hover {
  color: #fff;
}

#portfolio .filter li.active {
  color: #fff;
}

#portfolio .grid-item {
  cursor: pointer;
  position: relative;
}

#portfolio .grid-item img {
  max-width: 100%;
}

#portfolio .grid-item .hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2acc7093;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 32px;
  opacity: 0;
  transition: 0.25s;
}

#portfolio .grid-item:hover .hover {
  opacity: 1;
}

#contact-me {
  background-color: #252e30;
}

#contact-me h2 {
  color: #fff;
}

#contact-me .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 35px;
  grid-row-gap: 30px;
}

#contact-me .field {
  margin-bottom: 20px;
}

#contact-me .field label {
  color: white;
  margin-bottom: 10px;
  display: inline-block;
}

#contact-me .field input,
#contact-me .field textarea {
  display: block;
  border: none;
  border-radius: 3px;
  background-color: #4a5355;
  width: 100%;
  color: #fff;
  padding: 15px 10px;
  font-family: inherit;
  transition: 0.2s;
}

#contact-me .field input:hover,
#contact-me .field textarea:hover {
  background-color: #565e5f;
}

#contact-me .field input:focus,
#contact-me .field textarea:focus {
  box-shadow: 0 2px 20px 2px #2acc7021;
}

#contact-me .field input {
  height: 50px;
}

#contact-me .field textarea {
  height: 200px;
}

#contact-me .info {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

#contact-me p {
  margin-bottom: 30px;
}

#contact-me .info .label {
  color: white;
}

#contact-me .info-data {
  color: #919191;
}

footer {
  padding: 70px 0;
  text-align: center;
  background-color: #191f21;
}

footer .icons {
  margin-top: 35px;
}

footer .icons i {
  color: #191f21;
  background-color: #4a5355;
  transition: 0.2s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  width: 36px;
  height: 36px;
}

footer .icons i:hover {
  color: white;
}

.btn {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 12px 25px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn:hover {
  color: #2acc71;
  background-color: white;
}

.btn-primary {
  color: #2acc71;
  border-color: #2acc71;
}

.btn-primary:hover {
  background-color: #2acc71;
  color: white;
}

.btn-text {
  border-color: transparent;
  color: #2acc71;
  letter-spacing: none;
}

.btn-text:hover {
  background-color: rgba(42, 204, 113, 0.1);
  /* border-color: #2acc71; */
}

.btn-dark {
  background-color: #191f21;
  color: white;
  border-color: transparent;
}

.btn-dark:hover {
  color: #2acc71;
  background-color: #191f21;
}

.container {
  padding: 0 45px;
}

i {
  transform: translateY(4px);
}

h2 {
  color: #566366;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 45px;
}

section {
  padding: 70px 0;
}

p {
  color: #919191;
  font-size: 17px;
  line-height: 150%;
}

h3 {
  color: #566366;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}

hr {
  height: 1px;
  color: #ccc;
  background-color: #ccc;
  border: none;
}

.main-separator {
  margin: 80px 0;
}

.secondary-separator {
  margin: 30px 0;
}

.fa-bars {
  color: white;
  font-size: 22px;
  display: none;
  cursor: pointer;
  transform: none;
}

.fa-close {
  position: fixed;
  z-index: 2001;
  right: 50px;
  transform: none;
  top: 50px;
  font-size: 35px;
  color: white;
  cursor: pointer;
  display: none;
}

@media all and (max-width: 1000px) {
  .nav-links {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4a5355d0;
    backdrop-filter: blur(8px);
    flex-direction: column;
    justify-content: space-around;
    padding: 150px 0;
    z-index: 2000;
    opacity: 0;
    display: none;
    min-width: 0;
  }

  .nav-links .nav-link {
    text-align: center;
  }
  .nav-links .nav-link a {
    font-size: 23px;
  }
  .fa-bars,
  .fa-close {
    display: inline-block;
  }
}

.nav-links.active {
  display: flex;
  opacity: 1;
  animation: fadeIn 0.6s ease-in-out both;
}
.nav-links.active .nav-link {
  animation: 0.3s fadeInDown ease-out both;
}
.nav-links.active .nav-link:nth-child(1) {
  animation-delay: 0.1s;
}
.nav-links.active .nav-link:nth-child(2) {
  animation-delay: 0.2s;
}
.nav-links.active .nav-link:nth-child(3) {
  animation-delay: 0.3s;
}
.nav-links.active .nav-link:nth-child(4) {
  animation-delay: 0.4s;
}
.nav-links.active .nav-link:nth-child(5) {
  animation-delay: 0.5s;
}
.nav-links.active .nav-link:nth-child(6) {
  animation-delay: 0.6s;
}
.nav-links.active .nav-link:nth-child(7) {
  animation-delay: 0.7s;
}

.nav-links.exit {
  opacity: 1;
  display: flex;
  animation: fadeOut 0.35s ease-in-out both;
}

@media all and (max-width: 660px) {
  .container {
    padding: 0 25px;
  }
  h1 {
    font-size: 45px;
  }
}

@media all and (max-width: 460px) {
  h1 {
    font-size: 36px;
  }
}
